* {
	box-sizing: border-box;
}

.pbody {
	/*  background: #f1f1f1;*/
	color: #333333;
	font-family: 'Cairo', sans-serif;
	font-size: 16px;
	/*  height: 100vh;*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.pup_trg, .pup_bt {
	border: 2px solid #333333;
	background: #f1f1f1;
	padding: 5px 20px;
	font-size: 1.1rem;
	text-transform: uppercase;
	display: block;
	-webkit-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.pup_trg:hover, .pup_bt:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
}

.pup_trg:focus, .pup_bt:focus {
	outline: 0;
}

.pup_trg:active, .pup_bt:active {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.pup {
	background: #f1f1f1;
	width: 70%;
	position: absolute;
	left: calc(50% - 35%);
	top: 0;
	padding: 30px;
	box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
	border: 2px solid #333333;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 180ms ease-in;
	transition: all 180ms ease-in;
}

@media ( max-width : 600px) {
	.dialog {
		width: 90%;
		left: calc(50% - 45%);
	}
}

.pup.pup_act {
	top: 10%;
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

.pup .pup_clo {
	font-size: 2rem;
	line-height: 2rem;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	padding: 15px;
	-webkit-transition: color 150ms ease;
	transition: color 150ms ease;
}

.pup .pup_clo:hover {
	color: #E74C3C;
}

.pup .dialog__title {
	font-size: 2rem;
	font-family: 'Slabo 27px', serif;
	font-weight: 100;
	margin: 0;
	padding: 0 0 15px 0;
	border-bottom: 2px solid #333333;
}

.pup .dialog__content {
	font-size: 1.1rem;
	line-height: 2rem;
}

.pup .pup_bt {
	margin: 0;
	font-size: 1rem;
}

.pup_c {
	/*    left: 50%;*/
	margin: 10px;
	/*     width: 300px;*/
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.pup_in {
	width: 300px;
	height: 40px;
}

.pupp {
	text-align: center;
}